* {
    box-sizing: border-box;
}

.recipe-column {
    float: left;
    width: 25%;
    padding: 0 10px;
}

.recipe-row {
    margin: 0 -5px;
}

.recipe-row::after {
    content: "";
    display: table;
    clear: both;
}

.recipe-card {
    text-align: center;
    padding: 15px;
    background-color: coral;
    object-fit: cover;
    border-radius: 25px;
	margin: 0.5em;
}

.recipe-card button {
	margin: 2em;
	border-radius: 5%;
	border-color: black;
	background-color: white;
	color: black;
	padding: 6px 25px;
}

.recipe-card button:hover {
	background-color: black;
	color: white;
}

.recipe-card a {
    color: white;
}

.recipe-card a:hover {
    color: black;
}

@media screen and (max-width: 900px) {
    .recipe-column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
    .recipe-card {
        text-align: left;
    }
    .recipe-supplies {
        float: right;
        text-align: left;
    }
}

.cookbook-btn button {
	margin: 2em;
	border-radius: 50%;
	background-color: coral;
	color: white;
	border-color: coral;
	padding: 10px 40px;
}

.cookbook-btn button:hover {
	border-color: coral;
	background-color: white;
	color: coral;
}